/vendor
/node_modules
/frontend/node_modules
/public/build
/public/hot
.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/app/public
/public/storage
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/.vscode
/.idea
/.history
/.phpunit.result.cache
task/
